.header {
  padding: 8px 0;
  border-bottom: 1px solid #fff;
  background: #222;
  margin-bottom: 30px;
}
.header__row {
  display: flex;
  align-items: center;
}
.header__image {
  cursor: pointer;
  width: 50px;
}
.search__comp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
