.video__item {
  position: relative;
  /* background-size: cover; */
  margin-bottom: 15px;
}
.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
